<% provide(:title, "About") %>

        <h1>About</h1>
        <p>
          The <a href="http://www.onet.pl/"><em>Ruby on Rails
          Tutorial</em></a> is a
          <a href="http://www.onet.pl/">book</a> and
          <a href="http://www.onet.pl/">screencast series</a>
          to teach web development with
          <a href="http://www.onet.pl/">Ruby on Rails</a>.
          This is the sample application for the tutorial.
        </p>
